# General
.DS_Store
*.log
*.class
*.swp
*.pyc

# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.buildlog/
.pub-cache/
.pub/
/build/
**/ios/Flutter/.last_build_id

# Android Studio / IntelliJ
*.iml
*.ipr
*.iws
.idea/
.android/
.gradle

# VS Code
#.vscode/

# Xcode for iOS and macOS
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/
**/macos/Pods/
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
xcuserdata

# Environment variables
.env

# Miscellaneous
.history
.svn/
.atom/
migrate_working_dir/

# Symbolication & Obfuscation related
app.*.symbols
app.*.map.json

# Build outputs
/android/app/debug
/android/app/profile
/android/app/release
